In [ ]:
import pandas as pd

# load the data into a dataframe called inventory
inventory = pd.read_csv('inventory.csv')

# print the first 10 rows of the dataframe
print(inventory.head(10))

        location  product_type         product_description  quantity  price
0  Staten Island         seeds                       daisy         4   6.99
1  Staten Island         seeds                  calla lily        46  19.99
2  Staten Island         seeds                      tomato        85  13.99
3  Staten Island  garden tools                        rake         4  13.99
4  Staten Island  garden tools                 wheelbarrow         0  89.99
5  Staten Island  garden tools                       spade        93  19.99
6  Staten Island  pest_control               insect killer        74  12.99
7  Staten Island  pest_control                 weed killer         8  23.99
8  Staten Island       planter  20 inch terracotta planter         0  17.99
9  Staten Island       planter      8 inch plastic planter        53   3.99

In [ ]:
# inspect the first 10 rows of inventory
print(inventory.head(10))

        location  product_type         product_description  quantity  price
0  Staten Island         seeds                       daisy         4   6.99
1  Staten Island         seeds                  calla lily        46  19.99
2  Staten Island         seeds                      tomato        85  13.99
3  Staten Island  garden tools                        rake         4  13.99
4  Staten Island  garden tools                 wheelbarrow         0  89.99
5  Staten Island  garden tools                       spade        93  19.99
6  Staten Island  pest_control               insect killer        74  12.99
7  Staten Island  pest_control                 weed killer         8  23.99
8  Staten Island       planter  20 inch terracotta planter         0  17.99
9  Staten Island       planter      8 inch plastic planter        53   3.99

In [ ]:
# Select the first 10 rows of inventory
staten_island = inventory.iloc[:10, :]

# Print the first 10 rows of staten_island
print(staten_island.head())

        location  product_type product_description  quantity  price
0  Staten Island         seeds               daisy         4   6.99
1  Staten Island         seeds          calla lily        46  19.99
2  Staten Island         seeds              tomato        85  13.99
3  Staten Island  garden tools                rake         4  13.99
4  Staten Island  garden tools         wheelbarrow         0  89.99

In [ ]:
# select the product_description column from staten_island
product_request = staten_island['product_description']

# print the first 5 rows of product_request
print(product_request.head())

0          daisy
1     calla lily
2         tomato
3           rake
4    wheelbarrow
Name: product_description, dtype: object

In [ ]:
# select all rows where location is "brooklyn" and product_type is "seed"
seed_request = inventory[(inventory['location'] == 'Brooklyn') & (inventory['product_type'] == 'seeds')]

# print the first 5 rows of seed_request
print(seed_request.head())

    location product_type product_description  quantity  price
10  Brooklyn        seeds               daisy        50   6.99
11  Brooklyn        seeds          calla lily         0  19.99
12  Brooklyn        seeds              tomato         0  13.99

In [ ]:
# add a new column called in_stock to inventory
inventory['in_stock'] = inventory['quantity'] > 0

# print the first 5 rows of inventory
print(inventory.head())

        location  product_type product_description  quantity  price  in_stock
0  Staten Island         seeds               daisy         4   6.99      True
1  Staten Island         seeds          calla lily        46  19.99      True
2  Staten Island         seeds              tomato        85  13.99      True
3  Staten Island  garden tools                rake         4  13.99      True
4  Staten Island  garden tools         wheelbarrow         0  89.99     False

In [ ]:
# Add a new column called total_value to inventory
inventory['total_value'] = inventory['price'] * inventory['quantity']

# Print the first 5 rows of inventory
print(inventory.head())

        location  product_type product_description  quantity  price  in_stock  \
0  Staten Island         seeds               daisy         4   6.99      True
1  Staten Island         seeds          calla lily        46  19.99      True
2  Staten Island         seeds              tomato        85  13.99      True
3  Staten Island  garden tools                rake         4  13.99      True
4  Staten Island  garden tools         wheelbarrow         0  89.99     False

   total_value
0        27.96
1       919.54
2      1189.15
3        55.96
4         0.00

In [ ]:
# Apply the lambda function to the inventory Dataframe and save it to a new column
inventory['total_value_lambda'] = inventory.apply(lambda x: x['price'] * x['quantity'], axis=1)

# Print the first 5 rows of inventory
print(inventory.head())

        location  product_type product_description  quantity  price  in_stock  \
0  Staten Island         seeds               daisy         4   6.99      True
1  Staten Island         seeds          calla lily        46  19.99      True
2  Staten Island         seeds              tomato        85  13.99      True
3  Staten Island  garden tools                rake         4  13.99      True
4  Staten Island  garden tools         wheelbarrow         0  89.99     False

   total_value  total_value_lambda
0        27.96               27.96
1       919.54              919.54
2      1189.15             1189.15
3        55.96               55.96
4         0.00                0.00

In [ ]:
combine_lambda = lambda row: \
    '{} - {}'.format(row.product_type,
                     row.product_description)

inventory['full_description'] = inventory.apply(combine_lambda, axis=1)